<div class="navbar bg-base-100 p-10">
    
    <div class="navbar-start">
      <h1 class="text-xl">Group 1</h1>
    </div>
    <div class="navbar-end">
      <a class="btn btn-error" href="/">Logout</a>
    
    </div>
  </div>