<ul class="menu bg-base-200 rounded-box flex justify-center items-start h-screen p-10">
  <li>
    <a class="btn tooltip tooltip-right flex items-center justify-between" data-tip="Home" href="/department">
      <!-- <i class="fa-solid fa-building"></i> -->
      <p>Department</p>
    </a>
  </li>
  <li>
    <a class="btn tooltip tooltip-right flex items-center justify-between" data-tip="Employees" href="/employee">
      <!-- <i class="fa-solid fa-person"></i> -->
      <p>Employee</p>
    </a>
  </li>
  <li>
    <a class="btn tooltip tooltip-right flex items-center justify-between" data-tip="Projects" href="/project">
      <!-- <i class="fa-solid fa-diagram-project"></i> -->
      <p>Projects</p>
    </a>
  </li>
</ul>