<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/css/output.css">
    </head>
    <body>
        <div class="login-section w-screen h-screen flex justify-center items-center flex-col ">
            <div class="flex flex-col justify-center items-center bg-gray-700 p-10 rounded-lg">
                <h1 class="font-bold text-[40px] text-white mb-7">Login</h1>
                <form class="w-[300px]">
                    <div class="form-control">
                    <label class="label">
                        <span class="label-text">Username</span>
                    </label>
                    <input type="text" placeholder="Username" class="input input-bordered username" required />
                    </div>
                    <div class="form-control">
                    <label class="label">
                        <span class="label-text">Password</span>
                    </label>
                    <input type="password" placeholder="password" class="input input-bordered password" required />
                    </div>
                    <div class="form-control mt-6">
                    <button class="btn btn-primary login-btn">Login</button>
                    </div>
                </form>
            </div>   
        </div>
    </body>

    <script src="js/login.js" type="text/javascript"></script>
    
</html>